nav a {
  cursor: pointer;
}

.current {
  color: var(--accent) !important;
  border-color: var(--accent) !important;
}

.icon {
  vertical-align: sub;
  padding-right: .25rem;
  display: inline-block;
  width: 1em;
  height: 1.3em;
  margin-right: 0.2rem;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
