.create {
    width: 80%;
    margin: 1rem auto 3rem;
    text-align: center;
    line-height: 2;
    font-size: 1rem;
    border: 1px solid var(--border);
    border-radius: 5px;
    color: var(--text);
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    display: block;
    text-decoration: none;
}

.navigation {
    width: 80%;
    margin: 0 auto 3rem;
}

.navigation a {
    padding: 0.5rem;
}

.dateInput {
    width: 180px;
}

.create:hover {
    color: var(--accent);
    border-color: var(--accent);
}

.container {
    width: 80%;
    margin: 0 auto;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid var(--border);
}

.container:first-of-type {
    padding-top: 0;
}

.container:last-of-type {
    /* Footer already has a margin. */
    padding-bottom: 0;
    border-bottom: none;
}

@media only screen and (max-width: 720px) {
    .container {
        width: 100%;
    }

    .create {
        width: 100%;
    }
}

.header {
    display: flex;
    align-items: center;
}

.score {
    border-right: 1px solid var(--border);
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.title {
    margin: 0 0 0 1rem;
}

.title a {
    color: var(--text);
}

.image {
    margin-top: 1rem;
}

.description {
    margin-top: 1rem;
}

.links {
    font-size: 0.9rem;
    margin-top: 1rem;
}

.links a {
    margin-right: 1.5rem;
}
